.wrapper {
    justify-content: space-between;
    background-color: transparent;

    width: 100%;
}

.title-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 12px;
}

.title-text {
    font-size: 18px;
}

.dot {
    width: 8px;
    height: 8px;

    border-radius: 6px;
    margin-right: 6px;
    background-color: var(--online-color);
}

.desc {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
}






