@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --background: #000;
  --foreground: #171717;
  /* --mui-palette-background-paper: transparent; */
  --mui-palette-text-primary: #ffffff;
  --online-color: #0fef33;
  --card: #333333;
  --card-active: rgba(0, 246, 157, 0.6);
  --chat-receive-bg: rgba(128, 124, 124, 0.3);
  --chat-board-bg: rgba(55, 55, 55, 0.3);

  --font-color-focus: hsla(0, 4%, 76%, 0.9);
  --font-color-focus3: hsla(0, 0%, 100%, 0.7);
  --font-color-tip: hsla(55, 6%, 61%, 0.5);

  --radio-unchecked-color: #555555;
  --radio-checked-color: #00f69d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  /* height: -webkit-fill-available;
  overscroll-behavior-y: none; */

  height: -webkit-fill-available;
  overscroll-behavior-y: none;
  
  width: 100%;
  margin: 0;
  padding: 0;
  /* 禁止页面级滚动 */
  overflow: hidden; 
  /* 彻底固定，防止回弹 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
