@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --background: #000;
  --foreground: #171717;
  /* --mui-palette-background-paper: transparent; */
  --mui-palette-text-primary: #ffffff;
  --online-color: #0fef33;
  --card: #333333;
  --card-active: rgba(0, 246, 157, .6);
  --font-color-focus: hsla(0,0%,94%,.9);
  --radio-unchecked-color: #555555;
  --radio-checked-color: #00f69d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: -webkit-fill-available;
  overscroll-behavior-y: none;
}