.footerWrapper {
    width: 100%;
    padding: 18px 12px 36px 12px;
    display: flex;

    .provider,
    .hint {
        font-size: 0.5rem;
        color: hsla(0, 0%, 86.3%, 0.3);
    }
}


/* 手机 */
@media (max-width: 767px) {
    .footerWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }
}

/* 平板 */
@media (min-width: 768px) and (max-width: 1023px) {
    .footerWrapper {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 12px;
    }
}

/* 桌面 */
@media (min-width: 1024px) {
    .footerWrapper {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 12px;
    }
}