
.wrapper {
    background-color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.messageBox {
    flex: 1;
}

.btnBox {
    padding: 0.8rem;
    background-color: #212121;
}

.btn {
    border-radius: 12px;
}